.carouselWindow{
    position: relative;
    border-radius: 30px;
    overflow-x: hidden;
    width: 70%;
}

.arrow{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    width: 5em;
    cursor: pointer;

    &.prev{
        left: 0;
    }

    &.next{
        right: 0;
    }

    & img{
        object-fit: cover;
        width: 60%;
        transform: scale(1);
        transition: transform .5s ease;
    }

    &:hover{
        & img{
            transform: scale(1.4);
            transition: transform .5s ease;
        }
    }

    &:active{
        & img{
            transform: scale(1);
            transition: transform .5s ease;
        }
    }
}

.imageCarousel{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform .7s ease;
    cursor: grab;

    &:active{
        cursor: grabbing;
    }

    & img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 900px){
    .carouselWindow{
        width: 100%;
        max-width: 650px;
        min-height: 40vh;
        margin: 0 auto;
    }
    
}