.hero{
    position: relative;
    width: 100%;
	height: 100vh;
	overflow: hidden;
	top: -4rem;

	&::after {
		content: "";
		/* z-index: 9; */
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 70px;
		background: linear-gradient(to top, black, transparent);
	}
}


.mutedIcon{
    z-index: 10;
    position: fixed;
    width: 2.5rem;
    height: 3rem;
    right: 10rem;
    top: .5rem;
}

video::-webkit-media-controls{
  display: none;
}


.btn{
	width:fit-content;
	height: fit-content;
	cursor:pointer;
	border: 0px;
	color: white;
	position:absolute;
	bottom: 5rem;
	right: 9.5%;
	padding:10px 20px;
	background:black;
	font-size:28px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	transition:all 1s;
	

	&:after,&:before{
		content:" ";
		width:10px;
		height:10px;
		position:absolute;
		border :0px solid #fff;
		transition:all 1s;
		}
	&:after{
		top:-1px;
		left:-1px;
		border-top:5px solid white;
		border-left:5px solid white;
	}
	&:before{
		bottom:-1px;
		right:-1px;
		border-bottom:5px solid white;
		border-right:5px solid white;
	}
	&:hover{
		-webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
		border-top-right-radius:0px;
		border-bottom-left-radius:0px;
		transform: translateX(-10%);

		&:before,&:after{
			width:100%;
			height:100%;
		}
	}
}


.hero-left.welcomed{
	transform: translateX(0);
	opacity: 1;
}

.hero-left{
    position: absolute;
    width: max-content;
    height: fit-content;
    top: 26%;
    left: 7%;
    color: white;
    z-index: 2;
	transform: translateX(-100%);
	transition: transform 3.5s ease,
		opacity 2.5s ease;
	opacity: 0;
	will-change: transform, opacity;

    & h1{
        font-size: 4.5em;
        margin-bottom: 1rem;
		line-height: 1.8;
        color: white;
        height: fit-content;
    }
    & p{
        height: max-content; 
        line-height: 1.5;
        max-width: 500px;
		font-size: 11.3pt;
    }

	& .buttons{
		display: flex;
		/* justify-content: space-between; */
		gap: 32%;
		align-items: baseline;
		& *{
			font-weight: 600;
		}
	}

	& button.pulse{
		width: fit-content;
		height: fit-content;
		/* position: relative; */
		top: .5em;
		border-radius: 8px;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0;
		border: none;
		margin-top: 3em;
		text-wrap: nowrap;
		padding: 1em;
		background-color: black;
		transform: scale(1);
		transition: transform 0.5s ease;
		--color: #ef6eae;
		--hover: #ef8f6e;

		&:active,
		&:focus {
			-webkit-animation: pulse 1s;
			animation: pulse 1s;
			box-shadow: 0 0 0 2em transparent;
		}

		&:hover {
			cursor: pointer;
			transform: scale(1.2);
		}

	}

	& .btn{

		&.shop{
			& p{
				color: black;
			}
			width: max-content;
			/* position: absolute; */
			bottom: 0;
			right: 8em;
			cursor:pointer;
			border: 0px;
			padding:10px 20px;
			background:white;
			font-size:28px;
			border-top-right-radius:10px;
			border-bottom-left-radius:10px;
			transition:all 1s;
			

			&:after,&:before{
				content:" ";
				width:10px;
				height:10px;
				position:absolute;
				border :0px solid black;
				transition:all 1s;
				}
			&:after{
				top:-1px;
				left:-1px;
				border-top:5px solid black;
				border-left:5px solid black;
			}
			&:before{
				bottom:-1px;
				right:-1px;
				border-bottom:5px solid black;
				border-right:5px solid black;
			}
			&:hover{
				-webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
				border-top-right-radius:0px;
				border-bottom-left-radius:0px;
				transform: translateX(-10%);

				&:before,&:after{
					width:100%;
					height:100%;
				}
			}
		}
	}

}

.author{
    /* height: fit-content; */
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: .7em;
	padding-left: 0;
	border: none;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	margin-right: .5em;

	& img{
		height: 1.5rem;
		background: white;
		border-radius: 50%;
		margin-bottom: -.4em;
		margin-right: .4em;
		margin-left: .8em;
	}
}

.arrows{
	display: flex ;
	position: absolute;
	width: 15rem;
	right: 7%;
	bottom: 10rem;
	z-index: 1;

	& .arrow{
		width: 100%;
		cursor: pointer;
		transform: scale(1);
		transition: transform .5s ease;

		& img{
			object-fit: cover;
			width: 100%;
		}

		&:hover{
			transform: scale(1.4);
			transition: transform .5s ease;
		}

		&:active{
			transform: scale(.8);
		}
	}

}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@media (max-width: 400px){
	.mutedIcon{
		position: fixed;
		width: 2.5rem;
		height: 3rem;
		right: .7rem;
		top: 3rem;
	}
}


@media (max-width: 500px){
	.hero-left{
		top: 20%;
		& p{
			font-size: 1em;
			max-width: 250px;
		}
		& h1{
			font-size: 3.5em;
		}

		.buttons{
			flex-direction: column;
			gap: 2em;

			& .author{
				/* margin-top: 2em; */
			}
		}
	}

	.btn{

		&.shop{
			position: absolute;
			left: .2em;
			top: 110%;

			& p{
				margin: 0;
				font-size: 11pt;
			}
		}
	}

	.arrows{
		width: 10rem;
	}
}