
.search-bar{
    border-radius: 10px;
    width: 30%;
    height: 2.5rem;
    box-shadow:0 4px 9px rgba(0,0,0,.37);
  -moz-box-shadow:0 4px 9px rgba(0,0,0,.37);
  -webkit-box-shadow:0 4px 9px rgba(0,0,0,.37);
  text-align: center;
}