
.search{
    height: 80vh;
    overflow: clip;
    width: 100%;
    height: 85vh;
}

.search-container{
    position:relative;
    margin: 2em auto;
    margin-top: 1.5em;
    width: 100%;
    height: 100%;
    background-color: black;

    &::after {
      content: "";
      position: absolute;
      top: -3rem;
      left: 0;
      right: 0;
      height: 15%;
      background: linear-gradient(to bottom, black);
      filter: blur(2em);
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -5%;
      left: 0;
      right: 0;
      height: 10%;
      background: linear-gradient(to top, black);
      filter: blur(3em);
    }

    .left-blur{
      content: "";
      position: absolute;
      top: -3rem;
      bottom: 0;
      left: -3%;
      width: 9%;
      background: linear-gradient(to right, black);
      filter: blur(3rem);
    }

    .right-blur{
      content: "";
      position: absolute;
      top: -3rem;
      bottom: 0;
      right: -3%;
      width: 9%;
      background: linear-gradient(to left, black);
      filter: blur(3rem);
    }

    .sub-left-blur{
      content: "";
      position: absolute;
      top: 3rem;
      left: 3%;
      width: 30%;
      height: 30%;
      background: linear-gradient(to right, black);
      filter: blur(3rem);
    }

    .sub-right-blur{
      content: "";
      position: absolute;
      top: 3rem;
      right: 3%;
      width: 30%;
      height: 30%;
      background: linear-gradient(to left, black);
      filter: blur(3rem);
    }

    

}

.search-bar-container{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 20%;
    display: flex;
    justify-content: center;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.background div {
  position: absolute;
  width: 0.001vmin;
  height: 0.001vmin;
  border-radius: 50%;
  opacity: 0.25;
}

.background div:nth-child(2) {
  box-shadow: 0 0 45vmax 45vmax rgb(87, 76, 76);
  animation: hue 10s linear infinite, move1 19s linear infinite;
}

.background div:nth-child(3) {
  box-shadow: 0 0 45vmax 45vmax #ffffff;
  animation: hue 15s linear infinite, move2 25s linear infinite;
}

.background div:nth-child(4) {
  box-shadow: 0 0 45vmax 45vmax #00ffff;
  animation: hue 20s linear infinite, move3 15s linear infinite;
  opacity: 0.2;
}

/* === Animations === */
@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes move1 {
  0%   { top: 0vh; left: 50vw; }
  25%  { left: 0vw; }
  50%  { top: 100vh; }
  75%  { left: 100vw; }
  100% { top: 0vh; left: 50vw; }
}

@keyframes move2 {
  0%   { top: 50vh; left: 100vw; }
  25%  { top: 100vh; }
  50%  { left: 0vw; }
  75%  { top: 0vh; }
  100% { top: 50vh; left: 100vw; }
}

@keyframes move3 {
  0%   { top: 100vh; left: 50vw; }
  25%  { left: 100vw; }
  50%  { top: 0vh; }
  75%  { left: 0vw; }
  100% { top: 100vh; left: 50vw; }
}
