.game-grid{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* background-color: rgb(49, 48, 48);
    background-color: var(--shop-color); */
    border: none;
    gap: 1.5em;   
    width: 100%;
    position: relative;
    padding-right: 10px;
}

@media (max-width: 600px) {
    .game-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        background-color: transparent;
    }
}