*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: max-content;
  overflow-x: clip;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  scroll-behavior: smooth;
  background-color: black;
  --sidebar-color: #222222;
  --shop-color: black;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track { 
    background: #f1f1f1; 
    border-radius: 0px; 
  } 

  &::-webkit-scrollbar-thumb { 
    background: grey;
    border-radius: 0px; 
    cursor: pointer;
    
  }

  /* Firefox */
  /* scrollbar-width: none;   */
    -ms-overflow-style: none; /* IE and Edge */

    @font-face {
      font-family: "Passions Conflict";
      src: url("./assets/fonts/PassionsConflict-Regular.woff2") format("woff2");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }
}


