nav{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &.inShop{
        background-color:var(--shop-color);
    }
}

.logoBox{
    display: flex;
    gap: 1em;
    cursor: pointer;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.logoTitle{
    color: white;
    font-size: 16pt;
}

.rightNav{
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    width: fit-content;

    & button{
        border: none;
        background: transparent;
    }

    & .home{
        width: 1.7rem;
    }

    & img{
        width: 2rem;
        aspect-ratio: 1/1;
        /* filter: invert(1); Used to invert the color of the svg */
        cursor: pointer;
    }
}



.rightNav *{
    flex-basis: min-content;
}

.logoBox .imgContainer{
    width: 40px;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: clip;
}
.logoBox .imgContainer img{
    object-fit: cover;
    width: 100%;
}

a, a:active, a:visited{
    text-decoration: none;
    color: white;
}

@media (max-width: 500px) {
    .logoTitle{
        display: none;
    }
}